<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-12">
        <h6 class="mb-0 text-uppercase">Administração</h6>
        <hr />
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-tabs nav-primary" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  data-bs-toggle="tab"
                  href="#primaryhome"
                  role="tab"
                  aria-selected="true"
                >
                  <div class="d-flex align-items-center">
                    <div class="tab-icon">
                      <i class="bx bx-home font-18 me-1"></i>
                    </div>
                    <div class="tab-title">Pessoas</div>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#primaryprofile"
                  role="tab"
                  aria-selected="false"
                >
                  <div class="d-flex align-items-center">
                    <div class="tab-icon">
                      <i class="bx bx-user-pin font-18 me-1"></i>
                    </div>
                    <div class="tab-title">Áreas</div>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  data-bs-toggle="tab"
                  href="#primarycontact"
                  role="tab"
                  aria-selected="false"
                >
                  <div class="d-flex align-items-center">
                    <div class="tab-icon">
                      <i class="bx bx-user-pin font-18 me-1"></i>
                    </div>
                    <div class="tab-title">Permissões</div>
                  </div>
                </a>
              </li>
            </ul>

            <div class="tab-content py-3">
              <div
                class="tab-pane fade show active"
                id="primaryhome"
                role="tabpanel"
              >
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control ps-5 radius-30"
                      placeholder="Pesquisar"
                    />
                    <span
                      class="position-absolute top-50 product-show translate-middle-y"
                      ><i class="bx bx-search"></i
                    ></span>
                  </div>
                  <div class="ms-auto">
                    <a [routerLink]="['/admin/pessoas-add']" routerLinkActive="router-link-active"
                      class="btn btn-primary radius-30 mt-2 mt-lg-0"
                      ><i class="bx bxs-plus-square"></i>Nova
                      pessoa</a
                    >
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of persons">
                        <td>
                          <img
                            [src]="item.photoUrl"
                            class="product-img-2"
                            alt="product img"
                          />
                        </td>
                        <td>
                          <h6 class="mb-0 font-14">{{item.name}}</h6>
                        </td>
                        <td>{{item.email}}</td>
                        <td>
                          <div class="d-flex order-actions">
                            <a href="javascript:;" class=""
                              ><i class="lni lni-eye"></i
                            ></a>
                            <a href="javascript:;" class="ms-3"
                              ><i class="bx bxs-edit"></i
                            ></a>
                            <a href="javascript:;" class="ms-3"
                              ><i class="bx bxs-trash"></i
                            ></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control ps-5 radius-30"
                      placeholder="Pesquisar"
                    />
                    <span
                      class="position-absolute top-50 product-show translate-middle-y"
                      ><i class="bx bx-search"></i
                    ></span>
                  </div>
                  <div class="ms-auto">
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>Descrição</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of areas">
                        <td>
                          <h6 class="mb-0 font-14">{{item.info}}</h6>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="tab-pane fade" id="primarycontact" role="tabpanel">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Descrição</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of permissions">
                        <td>
                          <h6 class="mb-0 font-14">{{item.name}}</h6>
                        </td>
                        <td>{{item.description}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Grupo</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="row mb-3">

            <div class="row mb-3 mt-3">
              <label for="input35" class="col-sm-3 col-form-label">Descrição</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="input35">
              </div>
            </div>

            <h4>Permissões</h4>
            <div class="row py-2">
              <label for="input39" class="col-sm-3 col-form-label">Gerir Espaços</label>
              <div class="col-sm-9">
                <select class="form-select" id="input39">
                  <option selected="">Recusar</option>
                  <option value="1">Permitir</option>
                  </select>
              </div>
            </div>

            <div class="row py-2">
              <label for="input39" class="col-sm-3 col-form-label">Gerir Pessoas</label>
              <div class="col-sm-9">
                <select class="form-select" id="input39">
                  <option selected="">Recusar</option>
                  <option value="1">Permitir</option>
                  </select>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
