<div class="header-wrapper">
  <!--start header -->
  <header>
    <div class="topbar d-flex align-items-center">
      <nav class="navbar navbar-expand gap-3">
        <div class="topbar-logo-header d-none d-lg-flex">
          <div class="">
            <img
              src="assets/images/logo-icon.png"
              class="logo-icon"
              alt="logo icon"
            />
          </div>
          <div class="">
            <h4 class="logo-text">Vianet</h4>
          </div>
        </div>
        <div
          class="mobile-toggle-menu d-block d-lg-none"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
        >
          <i class="bx bx-menu"></i>
        </div>
        <div class="top-menu ms-auto">
          <ul class="navbar-nav align-items-center gap-1">
            <li
              class="nav-item mobile-search-icon d-flex d-lg-none"
              data-bs-toggle="modal"
              data-bs-target="#SearchModal"
            >
              <a class="nav-link" href="avascript:;"
                ><i class="bx bx-search"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="user-box dropdown px-3">
          <a
            class="d-flex align-items-center nav-link dropdown-toggle gap-3 dropdown-toggle-nocaret"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://cloud.squidex.io/api/assets/intranet-vianet/816ab0fa-6f0f-4f40-8fcd-4f564f9a81bf/person.png?version=0"
              class="user-img"
              alt="user avatar"
            />
            <div class="user-info">
              <p class="user-name mb-0">{{ userName }}</p>
              <p class="designattion mb-0">{{ area }}</p>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <!--
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                href="javascript:;"
                ><i class="bx bx-user fs-5"></i><span>Meu perfil</span></a
              >
            </li>
            -->
            <li>
              <a *ngIf="areaId==0"
                [routerLink]="['/admin']"
                routerLinkActive="router-link-active"
                class="dropdown-item d-flex align-items-center"
                ><i class="bx bx-cog fs-5"></i><span>Administração</span></a
              >
            </li>
            <li>
              <div class="dropdown-divider mb-0"></div>
            </li>
            <li>
              <a
                (click)="logout()"
                class="dropdown-item d-flex align-items-center"
                href="javascript:;"
                ><i class="bx bx-log-out-circle"></i><span>Sair</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--end header -->
  <!--navigation-->
  <div class="primary-menu">
    <nav class="navbar navbar-expand-lg align-items-center">
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header border-bottom">
          <div class="d-flex align-items-center">
            <div class="">
              <img
                src="https://cloud.squidex.io/api/assets/intranet-vianet/816ab0fa-6f0f-4f40-8fcd-4f564f9a81bf/person.png?version=0"
                class="logo-icon"
                alt="logo icon"
              />
            </div>
            <div class="">
              <h4 class="logo-text">Rocker</h4>
            </div>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav align-items-center flex-grow-1">
            <!--
            <li class="nav-item dropdown">
              <a
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon"><i class="bx bx-home-alt"></i></div>
                <div class="menu-title d-flex align-items-center">Painel</div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                href="javascript:;"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon"><i class="bx bx-cube"></i></div>
                <div class="menu-title d-flex align-items-center">Espaços</div>
                <div class="ms-auto dropy-icon">
                  <i class="bx bx-chevron-down"></i>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/espaco']"
                    routerLinkActive="router-link-active"
                    ><i class="bx bx-conversation"></i>Geral</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="app-chat-box.html"
                    ><i class="bx bx-conversation"></i>DTI</a
                  >
                </li>
                <li>
                  <a class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#addEspacoModal"
                    class="btn btn-primary btn-block"
                    ><i class="bx bxs-plus-square"></i>Novo Espaço</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                [routerLink]="['/projectos']"
                routerLinkActive="router-link-active"
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon">
                  <i class="bx bx-message-square-edit"></i>
                </div>
                <div class="menu-title d-flex align-items-center">
                  Projectos
                </div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                [routerLink]="['/noticias']"
                routerLinkActive="router-link-active"
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon">
                  <i class="bx bx-message-square-edit"></i>
                </div>
                <div class="menu-title d-flex align-items-center">Notícias</div>
              </a>
            </li>
          -->
            <li class="nav-item dropdown">
              <a
                [routerLink]="['/processos']"
                routerLinkActive="router-link-active"
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon">
                  <i class="bx bx-briefcase-alt"></i>
                </div>
                <div class="menu-title d-flex align-items-center">
                  Processos
                </div>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a
                [routerLink]="['/pessoas']"
                routerLinkActive="router-link-active"
                class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                data-bs-toggle="dropdown"
              >
                <div class="parent-icon">
                  <i class="bx bx-user"></i>
                </div>
                <div class="menu-title d-flex align-items-center">Pessoas</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--end navigation-->
</div>
