<div class="page-wrapper">
  <div class="page-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card radius-10 border-start border-0 border-4 border-info">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Espaços</p>
                <h4 class="my-1 text-info">2</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-blues text-white ms-auto"
              >
                <i class="bx bxs-group"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-danger"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Total de Processos</p>
                <h4 class="my-1 text-danger">2</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"
              >
                <i class="bx bxs-wallet"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-success"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Noticias</p>
                <h4 class="my-1 text-success">12</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
              >
                <i class="bx bxs-bar-chart-alt-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-warning"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Pessoas</p>
                <h4 class="my-1 text-warning">23</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto"
              >
                <i class="bx bxs-group"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-12 col-lg-8 d-flex">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div>
                  <h6 class="mb-0">Últimas notícias</h6>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div
                id="carouselExampleCaptions"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <ol class="carousel-indicators">
                  <li
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                  ></li>
                  <li
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                  ></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active" *ngIf="news.length > 0">
                    <h5>{{news[0].title}}</h5>
                      <p>
                        {{news[0].description}}
                      </p>
                    <img
                      [src]="news[0].imageURL"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item" *ngFor="let item of news | slice:1">
                    <h5>{{item.title}}</h5>
                      <p>
                        {{item.description}}
                      </p>
                    <img
                    [src]="item.imageURL"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleCaptions"
                  role="button"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleCaptions"
                  role="button"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div>
                <h6 class="mb-0">Próximos aniversariantes</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="list-group">
              <a
                href="javascript:;"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Maria Manuel</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">12 de Junho 2023</p>
              </a>
              <a
                href="javascript:;"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Maria Manuel</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">12 de Junho 2023</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>
