<div class="page-wrapper">
  <div class="page-content">
    <h6 class="mb-0 text-uppercase">Notícias</h6>
    <hr />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-end">
              <div class="col-lg-3 col-xl-2">
                <a
                  [routerLink]="['/noticia-novo']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary mb-3 mb-lg-0"
                >
                  <i class="bx bxs-plus-square"></i>Nova Notícia</a
                >
              </div>

              <div class="col-lg-9 col-xl-10">
                <form class="float-lg-end">
                  <div class="row row-cols-lg-2 row-cols-xl-auto g-2">
                    <div class="col">
                      <div class="position-relative">
                        <input
                          type="text"
                          class="form-control ps-5"
                          placeholder="Pesquisar..."
                        />
                        <span
                          class="position-absolute top-50 product-show translate-middle-y"
                          ><i class="bx bx-search"></i
                        ></span>
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Button group with nested dropdown"
                      >
                        <button type="button" class="btn btn-white">
                          Área
                        </button>
                        <div class="btn-group" role="group">
                          <button
                            id="btnGroupDrop1"
                            type="button"
                            class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="bx bx-chevron-down"></i>
                          </button>
                          <ul
                            class="dropdown-menu"
                            aria-labelledby="btnGroupDrop1"
                          >
                            <li>
                              <a class="dropdown-item" href="#"
                                >Dropdown link</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item" href="#"
                                >Dropdown link</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col py-2">
        <div class="card radius-15" *ngFor="let item of news">

          <div class="card-body">
            <div class="d-flex align-items-start">

              <div class="flex-grow-1 ms-3">
                <h5 class="mt-0">{{item.title}}</h5>
                <p class="mb-0">
                  {{item.description}}
                </p>
              </div>

              <img
                [src]="item.imageURL"
                class="p-1 border"
                width="100"
                height="100"
                alt="..."
              />
            </div>
          </div>

          <div class="card-footer">
            <h6>Osvaldo</h6>
            <div class="text-muted">{{item.date+', '+item.time}}</div>
          </div>
        </div>

      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="javascript:;">Próximo</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:;javascript:;">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:;">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:;">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:;">Anterior</a>
        </li>
      </ul>
    </nav>
    <!--/row-->
  </div>
</div>
<!--end page wrapper -->
