<!--wrapper-->
<div class="wrapper">
  <!--start header wrapper-->
  <app-header *ngIf="online"></app-header>
  <!--end header wrapper-->
  <!--start page wrapper -->

  <router-outlet></router-outlet>

  <!--start overlay-->
  <div class="overlay toggle-icon"></div>
  <!--end overlay-->
  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"
    ><i class="bx bxs-up-arrow-alt"></i
  ></a>
  <!--End Back To Top Button-->
  <footer class="page-footer">
    <p class="mb-0">Copyright © 2023. All right reserved.</p>
  </footer>
</div>
<!--end wrapper-->

<div
  class="modal fade"
  id="addEspacoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Espaço</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="input1" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="input1" />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
