<div class="page-wrapper">
  <div class="page-content">

    <h6 class="mb-0 text-uppercase">Espeço Geral</h6>
    <hr />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">


            <form class="row g-3 py-2">
              <div class="col-md-12">
                <textarea class="form-control" id="input11" placeholder="Descrição..." rows="3"></textarea>
              </div>
              <div class="col-md-12">
                <div class="d-md-flex d-grid align-items-center gap-3">
                  <button type="button" class="btn btn-primary px-4">Publicar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col py-2">
        <div class="card radius-15">
          <div class="card-header">

            <h5>Osvaldo</h5>
            <div class="text-muted">Wed, Jan 11th 2019 8:30 AM</div>
          </div>
          <div class="card-body">

            <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
  </div>
</div>
<!--end page wrapper -->
